DATABASE_URL=postgresql://admin:root@localhost:5432/nuxt_starter_local?sslmode=disable

ENABLE_EMAIL_VERIFICATION=false

MAIL_HOST=mail.smtp.com
MAIL_PORT=9999
MAIL_USER=user
MAIL_PASS=password
MAIL_FROM=sender@mail.com

EMAIL_VERIFICATION_DOMAIN=domain.com